<div class="ecart--header">
    <div class="ecart-logo">
        AirlineG
    </div>
    <div class="ecart--header-nav">
        <div class="ecart-top-bar">
            <!-- Use routerLink directive to navigate within cdAngular app -->
            <a routerLink="/home">Home</a>
            <a routerLink="#">Reservation</a>
            <a routerLink="#">Available Seats</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
        <div class="ecart-searchbar">
            <input type="text" class="ecart-search-box" placeholder="Search">
            <button class="ecart-search-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
