<div class="ecart--header">
    <div class="ecart-logo">
        ECart

    </div>
    <div class="ecart--header-nav">
        <div class="ecart-top-bar">
            <a href="home">Home</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a routerLink="/login">SignUp / Login</a>

        </div>
       
            <div class="ecart-searchbar">
                <input type="text" class="ecart-search-box" placeholder="Search">
                <button class="ecart-search-btn" >
                    <i class="fa fa-search" aria-hidden="true"></i>

                </button>
            </div>
        
    </div>
</div>
