.centered-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 80vh; 
  }
.login-container {
    text-align: center; 
    padding: 50px; 
    border: 1px solid #4cbc42;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #255012;
    }
  
    form {
      display: flex;
      flex-direction: column;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
  
    button {
      width: 100%;
      background-color: #11074a;
      color: #eeeeee;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        background-color: #ffffff;
        color: #000;
        border: 2px solid #0a1b7d;
      }
    }

    
  }
  
  /* Define styles for mat-form-field */
  mat-form-field {
    width: 100%;
    
  }
  
  
  mat-error {
    color: red;
    font-size: 12px;
  }
  
  
  button.mat-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  mat-label{
    font-size: small;
  }

  
   .input{
    font-size: small;
   }
  
.wide-form-field {
    width: 100%;
    height: 65px; 
  }

  .password{
    color: #201c1c; 
    text-decoration: none;
    margin-right: 20px;
    font-size: small;
  }
  .login-image{
    width: 75%;
  }


  
  
  
  
  