.user-list {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;

  .user-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    span {
      flex: 1;
    }

    button {
      background-color: #dc3545;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  .add-user {
    margin-top: 20px;

    input {
      margin-right: 10px;
      padding: 5px;
    }

    button {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
