<!-- home.component.html -->
<div class="home-page">
    <div class="home-header">
        <h1 class="head-line">Welcome to AirlineG</h1>
        <p>Your one-stop solution for managing airline reservations and tickets.</p>
    </div>
    <div class="home-image">
        <img src="assets/images/img6.jpg" alt="Airline Image">
    </div>
    <div class="home-content">
        <p>Discover the world with AirlineG. We provide a seamless travel experience, from booking flights to managing reservations. Our team is dedicated to making your journey unforgettable.</p>
        <button routerLink="/reservation">Book a Flight</button>
    </div>
</div>
