<div class="home-page">
    <header class="home-header">
        <h1 class="head-line">Welcome to AirlineG</h1>
        <p>Your one-stop solution for managing airline reservations and tickets.</p>
    </header>
    <section class="home-image">
        <img src="assets/images/img6.jpg" alt="AirlineG - Your one-stop solution for managing airline reservations and tickets">
    </section>
    <section class="home-content">
        <p>Discover the world with AirlineG. We provide a seamless travel experience, from booking flights to managing reservations. Our team is dedicated to making your journey unforgettable.</p>
        <button routerLink="/book-flight">Book a Flight</button>
    </section>
</div>
