.container {
    width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin: 20px 0;
  }
  
  input,
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #0d1a50;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #ffffff;
      color: #000;
      border: 2px solid #0a1b7d;
    }
  }
  
  .error-message {
    color: red;
  }
  