<div class="home-content">
    <h1>Welcome to eCart</h1>
    <p>Discover the best shopping experience online!</p>
  
    <!-- Product Listings -->
    <div class="product-list">
      <div class="product-item">
        <img src="assets/images/img03.jfif" alt="Image 1">
        <h2>Apple</h2>
        <p>Fresh and organic products</p>
        <button class="btn">Add to cart</button>
      </div>
      <div class="product-item">
        <img src="assets/images/img01.jfif" alt="Image 1">
        <h2>Watermelon</h2>
        <p>Fresh and organic products</p>
        <button class="btn">Add to cart</button>
      </div>
      <div class="product-item">
        <img src="assets/images/img02.jfif" alt="Image 1">
        <h2>Avacado</h2>
        <p>Fresh and organic products</p>
        <button class="btn">Add to cart</button>
      </div>
      <div class="product-item">
        <img src="assets/images/img10.jpg" alt="Image 1">
        <h2>Orange</h2>
        <p>Fresh and organic products</p>
        <button class="btn">Add to cart</button>
      </div>
      
    </div>
  
    <!-- Featured Items -->
    <div class="featured-items">
      <h2>Discount items</h2>
      <div class="featured-item">
        <img src="assets/images/img14.jpg" alt="Featured Item 1">
        <h3>50%</h3>
        <button class="btn">add to cart</button>
      </div>
      <div class="featured-item">
        <img src="assets/images/img13.jpg" alt="Featured Item 1">
        <h3>25%</h3>
        <button class="btn">add to cart</button>
      </div>
      <div class="featured-item">
        <img src="assets/images/img12.jpg" alt="Featured Item 1">
        <h3>30%</h3>
        <button class="btn">add to cart</button>
      </div>
      <div class="featured-item">
        <img src="assets/images/img12.jpg" alt="Featured Item 1">
        <h3>30%</h3>
        <button class="btn">add to cart</button>
      </div>
      
    </div>

    
  </div>
  